@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
body{
    background-image: url("../assets/img/fondo2.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center; 
}
h1 {
    color: #ffffff;
     font-family: "Silkscreen", sans-serif;
     font-size: 95px;
}
h2{
    font-family: "Silkscreen", sans-serif;
    font-size: 25px;
    color: rgb(252, 18, 18);
    display: inline-block;
    text-align: center;
    border: 2px solid;
    background-color: rgba(224, 215, 204, 0.815);
    margin-bottom: 15px;  
}
.btn-play {
    margin-bottom: 25px;
    display: flex;
    gap: 15px;
}
.btn-play button {
    background: #ee1a1aec;
    color: #ffffff;
    font-size: 30px;
    padding: 12px 20px;
    border-radius: 3px;
    font-family: "Silkscreen", sans-serif;
    cursor: pointer;
}
.btn-play button:hover {
    background-color: #e0dadac9;  
    color: rgb(248, 2, 2);
}
.btn-play button:active {
    background-color: rgb(255, 255, 255);
    transform:scale(0.90);
    color: rgb(248, 17, 17);
}