body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f0f4ff, #d9e6ff);
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

#contenedor-nivel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

#profesor img {
  width: 180px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bloque {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #4e7cff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e6ae0;
}

.oculto {
  display: none;
}
#videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
  filter: brightness(0.6); 
}
#contenedor-nivel {
  position: relative;
  z-index: 1;
}
#fondo1,#fondo2,#fondo3,#fondo4,#fondo5 {
  position: fixed;      
  left: 0;
  width: 100vw;          
  height: 100vh;         
  object-fit: cover;    
  z-index: -1;           
  filter: brightness(0.6);}